body
{
    font-family: 'Poppins', 'sanserif';
    color: rgb(69, 69, 69);    
} 
h1{
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
}
h2{
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    margin: 12px 0 24px 0;
}
h3{
    margin: 0;
    font-size: 16px;
    font-weight: 300;
}
p{
    margin: 0;
    font-size: 10px;
}
hr{    
    margin: 12px 0;
    border: none;
    height: 2px;
    width: 30px;
    background-color: rgb(69, 69, 69);
}
.main-section{
    margin: 50px 25%;
    display: grid;
    grid-template-areas:
    "a b b"
    "c d d"
    "g d d"
    "g e e";
    gap: 24px 12px;
}
.container{    
    padding: 32px;
    border-top-left-radius: 30px;
}
.main-section .photo{
    grid-area: a;
}
.photo img{
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.main-section .profile{
    grid-area: b;
}
.main-section .education{
    background-color: rgb(251, 237, 223);
    grid-area: c;
}
.main-section .experience{
    background-color: rgb(248, 243, 238);
    grid-area: d;
}
.main-section .contact{
    background-color: rgb(251, 235, 234);
    grid-area: g;
}

.main-section .skills{
    background-color: rgb(251, 237, 223);
    grid-area: e;
}